@import url("whitespace-reset.css");

body {
  font: normal 13px Arial, Helvetica, sans-serif;
  color: #ffffff; }
#game {
  position: relative;
  width: 676px;
  height: 633px;
  background-color: #000000; }
.credit { background: #000000 url("../images/credit.gif") 0 0 no-repeat; }
.title {
  cursor: pointer;
  background: #000000 url("../images/title.gif") 0 0 no-repeat; }
#loading {
  position: absolute;
  left: 50%;
  top: 200px;
  margin: 0 0 0 -100px;
  z-index: 1;
  width: 200px;
  text-align: center; }
  #loading #progress {
    display: block;
    position: relative;
    height: 20px;
    margin: 3px 0 0 0;
    border: 2px solid #cccccc;
    border-radius: 3px;
    background: #ffffff; }
  #loading span {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    height: 20px;
    line-height: 20px; }
  #loading .text {
    z-index: 2;
    padding: 0 5px;
    color: #000000; }
  #loading .complete {
    z-index: 1;
    background: #5463fa; }
#interface {
  display: none;
  position: absolute;
  left: 45px;
  bottom: 24px;
  z-index: 1;
  width: 586px;
  height: 205px;
  background: transparent url("../images/bg_interface.gif") 0 0 no-repeat; }
#inventory {
  display: none;
  position: absolute;
  right: 24px;
  top: 45px;
  z-index: 1;
  width: 290px;
  height: 353px;
  background: transparent url("../images/bg_inventory.jpg") 0 0 no-repeat; }
  #inventory .torch {
    position: absolute;
    top: 8px;
    z-index: 1;
    width: 26px;
    height: 42px; }
    #inventory .torch.large { background: transparent url("../images/torch_large.gif") 0 0 no-repeat; }
    #inventory .torch.left { left: 16px; }
#view-frame {
  display: none;
  position: absolute;
  left: 21px;
  top: 63px;
  z-index: 1;
  width: 296px;
  height: 296px;
  padding: 21px;
  background: transparent url("../images/bg_view-frame.gif") 0 0 no-repeat; }
#stage {
  position: relative;
  width: 100%;
  height: 100%;
  background-position: 0 0;
  background-repeat: no-repeat; }
  #stage div {
    position: absolute;
    z-index: 100; }
a#move, a.col1, a.col2, a.col3 {
  position: absolute;
  z-index: 2;
  width: 105px;
  height: 21px; }
  a#move span, a.col1 span, a.col2 span, a.col3 span {
    display: block;
    width: 21px;
    height: 21px; }
a#move {
  left: 40px;
  top: 18px; }
a.active span { background: #000000; }
a.col1 { left: 209px; }
a.col2 { left: 335px; }
a.col3 { left: 462px; }
a#look, a#take, a#card_up { top: 39px; }
a#open, a#close, a#card_down { top: 81px; }
a#use, a#hit, a#self { top: 123px; }
a#leave, a#speak, a#save { top: 166px; }
a#card_up, a#card_down { width: 21px; }
#dialog_layer {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 100%; }
#dialog {
  display: none;
  position: absolute;
  left: 45px;
  bottom: 24px;
  z-index: 101;
  width: 544px;
  height: 205px;
  border: 1px solid #f7d6a5;
  border-width: 0 21px;
  background: #f7d6a5 url("../images/bg_dialog.gif") 0 5px repeat-x; }
  #dialog p {
    clear: both;
    padding: 24px 0 0 0; }
  .letters span {
    display: none;
    float: left;
    width: 18px;
    height: 18px;
    margin: 0 2px 0 0;
    background: transparent url("../images/font.gif") 0 0 no-repeat; }
  .letters .b { background-position: -18px 0; }
  .letters .c { background-position: -36px 0; }
  .letters .d { background-position: -54px 0; }
  .letters .e { background-position: -72px 0; }
  .letters .f { background-position: -90px 0; }
  .letters .g { background-position: -108px 0; }
  .letters .h { background-position: -126px 0; }
  .letters .i { background-position: -144px 0; }
  .letters .j { background-position: -162px 0; }
  .letters .k { background-position: -180px 0; }
  .letters .l { background-position: -198px 0; }
  .letters .m { background-position: -216px 0; }
  .letters .n { background-position: -234px 0; }
  .letters .o { background-position: -252px 0; }
  .letters .p { background-position: -270px 0; }
  .letters .q { background-position: -288px 0; }
  .letters .r { background-position: -306px 0; }
  .letters .s { background-position: -324px 0; }
  .letters .t { background-position: -342px 0; }
  .letters .u { background-position: -360px 0; }
  .letters .v { background-position: -378px 0; }
  .letters .w { background-position: -396px 0; }
  .letters .x { background-position: -414px 0; }
  .letters .y { background-position: -432px 0; }
  .letters .z { background-position: -450px 0; }
  .letters .period { background-position: -468px 0; }
  .letters .colon { background-position: -486px 0; }
  .letters .exclamation { background-position: -504px 0; }
  .letters .quote { background-position: -522px 0; }
  .letters .space { background: transparent; }

#stage[class^="s1"] { background-image: url("../images/1.gif"); }
#stage.s1_alt { background-position: 0 100%; }
#stage[class^="s1"] .skull {
  left: 130px;
  top: 11px;
  width: 37px;
  height: 38px;
  background: transparent url("../images/1_skull.gif") 0 0 no-repeat; }
#stage[class^="s1"] .key1 {
  left: 135px;
  top: 21px;
  width: 21px;
  height: 16px;
  z-index: 2;
  background: transparent url("../images/1_key.gif") 0 0 no-repeat; }
#stage[class^="s1"] .door {
  left: 106px;
  top: 45px;
  width: 84px;
  height: 209px; }
#stage[class^="s1"] .open { background: transparent url("../images/1_open-door.gif") 0 0 no-repeat; }

#stage.s2 { background-image: url("../images/2.gif"); }
.s2 .torch1,
.s2 .torch2 {
  top: 53px;
  width: 16px;
  height: 74px;
  background: transparent url("../images/2_torch.gif") 0 0 no-repeat; }
.s2 .torch1 { left: 3px; }
.s2 .torch2 { right: 3px; }
.s2 .door1 {
  left: 124px;
  top: 151px;
  width: 48px;
  height: 100px;
  background: transparent url("../images/2_door1.gif") 0 0 no-repeat; }
.s2 .door2 {
  right: 73px;
  top: 156px;
  width: 27px;
  height: 120px;
  background: transparent url("../images/2_door2.gif") 0 0 no-repeat; }
.s2 .open { background: transparent; }
.s2 .rug {
  left: 107px;
  bottom: 0;
  width: 84px;
  height: 37px;
  background: transparent url("../images/2_rug.gif") 0 0 no-repeat; }